<!DOCTYPE html>
{% load static %}
{% load dh_static %}


<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />  
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 shrink-to-fit=no">
   
	<title>{{site_title|default:"Home"}}</title>


	<link href="{% dh_static 'dreamhome' 'fonts.googleapis.com-family=Roboto:400,700.css' %}?v={{request.META.static_version}}" rel="stylesheet">
	<link rel="stylesheet" href="{% dh_static 'dreamhome' 'fonts.googleapis.com-icon-family=Material+Icons.css' %}?v={{request.META.static_version}}">
	<link rel="stylesheet" href="{% dh_static 'dreamhome' 'font-awesome.min.css' %}?v={{request.META.static_version}}">
<!-- 	<link rel="stylesheet" href="{% dh_static 'dreamhome' 'materialdesignicons.css' %}?v={{request.META.static_version}}"> -->

	<link href="{% dh_static 'dreamhome' 'dialog-polyfill.min.css' %}?v={{request.META.static_version}}" type="text/css" media="all" rel="stylesheet">

	<link rel="stylesheet" href="{% dh_static 'dreamhome' 'material-design-lite-1.3.0-material.indigo-pink.min.css' %}?v={{request.META.static_version}}">
	<link href="{% dh_static 'dreamhome' 'material-components-web-8.0.0.min.css' %}?v={{request.META.static_version}}" type="text/css" media="all" rel="stylesheet">


	<!-- <link href="{% dh_static 'dreamhome' 'material_text_field.css' %}?v={{request.META.static_version}}" type="text/css" media="all" rel="stylesheet">	 -->

	<link href="{% dh_static 'dreamhome' 'material_error.css' %}?v={{request.META.static_version}}" type="text/css" media="all" rel="stylesheet">

	<link rel="stylesheet" href="{% dh_static 'dreamhome' 'getmdl-select.min.css' %}?v={{request.META.static_version}}">
	<script defer type="text/javascript" src="{% dh_static 'dreamhome' 'getmdl-select.min.js' %}?v={{request.META.static_version}}"></script>


	<link rel="stylesheet" href="{% dh_static 'dreamhome' 'base.css' %}?v={{request.META.static_version}}">



	<script src="{% dh_static 'dreamhome' 'jquery-3.5.1.js' %}?v={{request.META.static_version}}"></script>	

	<script src="{% dh_static 'dreamhome' 'dialog-polyfill.min.js' %}?v={{request.META.static_version}}"></script>

	<script src="{% dh_static 'dreamhome' 'material.min.js' %}?v={{request.META.static_version}}"></script>
	<script type="text/javascript" src="{% dh_static 'dreamhome' 'material-components-web-8.0.0.min.js' %}?v={{request.META.static_version}}"></script>

	<link rel="stylesheet" href="{% dh_static 'dreamhome' 'mdDateTimePicker.css' %}?v={{request.META.static_version}}">
	<script src="{% dh_static 'dreamhome' 'moment.js' %}?v={{request.META.static_version}}"></script>
	<script src="{% dh_static 'dreamhome' 'draggabilly.pkgd.min.js' %}?v={{request.META.static_version}}"></script>
	<script src="{% dh_static 'dreamhome' 'mdDateTimePicker.js' %}?v={{request.META.static_version}}"></script>

	<script src="{% dh_static 'dreamhome' 'base.js' %}?v={{request.META.static_version}}"></script>
	
	<link rel="stylesheet" type="text/css" href="{% dh_static 'dreamhome' 'jquery.autocomplete.css' %}?v={{request.META.static_version}}" />
	<script type="text/javascript" src="{% dh_static 'dreamhome' 'jquery.autocomplete.min.js' %}?v={{request.META.static_version}}"></script>



	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="{{site_title|default:'Home'}}">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_57x57.png' %}?v={{request.META.static_version}}" sizes="57x57">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_60x60.png' %}?v={{request.META.static_version}}" sizes="60x60">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_72x72.png' %}?v={{request.META.static_version}}" sizes="72x72">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_76x76.png' %}?v={{request.META.static_version}}" sizes="76x76">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_114x114.png' %}?v={{request.META.static_version}}" sizes="114x114">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_120x120.png' %}?v={{request.META.static_version}}" sizes="120x120">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_144x144.png' %}?v={{request.META.static_version}}" sizes="144x144">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_152x152.png' %}?v={{request.META.static_version}}" sizes="152x152">
	<link rel="apple-touch-icon" href="{% dh_static 'dreamhome' 'icons/DH_180x180.png' %}?v={{request.META.static_version}}" sizes="180x180">
	<meta name="msapplication-TileImage" content="{% dh_static 'dreamhome' 'icons/app-icon-144x144.png' %}?v={{request.META.static_version}}">
	<meta name="msapplication-TileColor" content="#fff">
	<meta name="theme-color" content="#3f51b5">

	{% block base_head %}
	
	{% endblock %}


</head>
<body class="mdc-typography">

{% block base_css %}

	{% block this_base_css %}

	{% endblock %}	

{% endblock %}		



    <Portal>
        <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar" id="snackbar0" style="">
          <div class="mdl-snackbar__text"></div>
          <button type="button" class="mdl-snackbar__action"></button>
        </div>
    </Portal>
    <Portal>
      <div id="loader0" style="display: none; z-index: 1050;  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <div class = "mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
      </div>
    </Portal>


	<dialog class="mdl-dialog" id="dialog0">
		<h4 class="mdl-dialog__title" style="font-size:18px !important;" id="dialog-title">Title</h4>
		<div class="mdl-dialog__content" id="dialog-content"></div>
		<div class="mdl-dialog__actions dialog0-actions">
			<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="dialog-submit" disabled>Submit</button>
			<button type="button" class="mdl-button close">Close</button>
		</div>
	</dialog>


	{% block base_body %}
	
	{% endblock %}


	<script type="text/javascript">
		var BASE_TEMPLATE_JS = (function(BASE_JS) {
			var mdctextFieldArr = new Array();
			var dialog = null;
			document.addEventListener("DOMContentLoaded", function(event) {  
			    {% if error|default:"" %}
			    	setTimeout(function(){
						BASE_JS.showToast(0, '{{error_details.description}}');
				  	}, 200);

			    {% endif %}
				
			    dialog = document.querySelector('dialog');
				if (! dialog.showModal) {
					dialogPolyfill.registerDialog(dialog);
				}


				dialog.querySelector('.close').addEventListener('click', function() {
					dialog.close();
				});

				document.querySelectorAll('.mdc-text-field').forEach(function(el){
					mdctextFieldArr.push(new mdc.textField.MDCTextField(el));
				}); 			

				document.querySelectorAll('.mdl-textfield__input').forEach(function(el){
					el.addEventListener("keyup", function(event){
						var val = this.value;
						var element = $(this);
						if (BASE_JS.is_valid_value(val)==false || val==""){
							element.siblings('.help').css('display', 'block');
							setTimeout(function(){
								element.siblings('.help').css('display', 'none');
							},2000);
						}
					});
				});

			});

		    
			function appendHtml(el, str, onload) {
			  var div = document.createElement('div'); //container to append to
			  div.innerHTML = str;
			  while (div.children.length > 0) {
			    el.appendChild(div.children[0]);
			  }
			  if (onload!=undefined){
			  	setTimeout(onload, 1);
			  }
			}
			function removeChild(parent, child){
				var el = document.querySelectorAll(`${parent} > ${child}`)
				el.forEach(function (c) {
				  c.remove();
				})
			}

			

			function Dialog(options) {
				const _defaults = {
					title 			: 	"Title", 
					content 		: 	null, 
					html 			: 	null,
					onload 			: 	function(){
						console.log("No onload action defined..")
					},
					text 		: 	"Submit", 
					action 	: 	function(){
						console.log("No submit action defined..")
					},
					enable : true,
					accent : false,
					dialog_width : "280px"
				};

				let _settings = Object.assign({}, _defaults, options);

				var content_config = function(){
					if (BASE_JS.is_valid_value(_settings.content)==true){
						document.querySelector('#dialog-content').textContent = _settings.content;
					}else if (BASE_JS.is_valid_value(_settings.html)==true){
						removeChild('#dialog-content', 'div');
						appendHtml(document.querySelector('#dialog-content'), _settings.html, _settings.onload);
					}
				}

				var submit_config = function(){
					if (BASE_JS.is_valid_value(_settings.text)==true){
						document.querySelector('#dialog-submit').textContent = _settings.text;
						document.querySelector('#dialog-submit').onclick = _settings.action;
					}else{
						document.querySelector('#dialog-submit').style.display = 'none';
					}
					if (_settings.enable==true){
						document.querySelector('#dialog-submit').removeAttribute("disabled");
					}
					if (_settings.accent==true){
						document.querySelector('#dialog-submit').classList.add("mdl-color--accent");
					}else{
						document.querySelector('#dialog-submit').classList.remove("mdl-color--accent");
					}

				}

				content_config();
				submit_config();
				document.querySelector('#dialog-title').textContent = _settings.title;
				document.querySelector('#dialog0').style.width = _settings.dialog_width;

				Object.defineProperties(this, {
					"show": {
						get: function() {
							dialog.showModal();
						},
						set: function(args) {
							var _args = {
								content : null,
								html : null,
								onload : function(){
									console.log("No onload action provided");
								}
							}
							_settings = Object.assign(_settings, _args, args);
							content_config();
							dialog.showModal();
						}
					},
					"submit": {
						set: function(args) {
							var _args = {
								text 	: 	"Submit", 
								action 	: 	function(){
									console.log("No submit action defined..")
								},
								enable : true,
								accent : false,
							}
							_settings = Object.assign(_settings, _args, args);
							submit_config();
						},
					},
					"enable" : {
						get: function() {
							document.querySelector('#dialog-submit').removeAttribute("disabled");
						}
					},
					"disable" : {
						get: function() {
							document.querySelector('#dialog-submit').setAttribute("disabled", "disabled");
						}
					},					
					"close" : {
						get: function() {
							dialog.close();
						}
					}
				});
			};


			function show_error(response){
				if (BASE_JS.is_valid_value(response.error_details)==true){
					BASE_JS.showToast(0, response.error_details.description);
				}
			}





			var date_dialog = new mdDateTimePicker.default({
				type: 'date',
				past: moment().subtract(100, 'years'),
				future: moment(),
			});

            function show_date_dialoge(trigger_el, callback_func){
            	date_dialog.trigger = trigger_el;
				trigger_el.addEventListener('onOk', function(e) {
					trigger_el.value =  date_dialog.time.format('L');
					callback_func();
				});

            	date_dialog.toggle();
            }
            var time_dialog = new mdDateTimePicker.default({
				type: 'time',
            });
            function show_time_dialoge(trigger_el, callback_func){
            	time_dialog.trigger = trigger_el;
				trigger_el.addEventListener('onOk', function(e) {
					console.log(time_dialog.time);
					trigger_el.value =  time_dialog.time.format('HH:mm');
					callback_func();
				});

            	time_dialog.toggle();
            }

            function upgrade_notch(lbl_id){
            	var lbl_el = document.querySelector(lbl_id);
            	lbl_el.classList.add('mdc-text-field--label-floating');
            	var notched_outline = lbl_el.querySelector(":scope > .mdc-notched-outline")
            	notched_outline.classList.add('mdc-notched-outline--upgraded');
            	notched_outline.classList.add('mdc-notched-outline--notched');
            	var outline_notch = notched_outline.querySelector(":scope > .mdc-notched-outline__notch");
            	outline_notch.querySelector(":scope > .mdc-floating-label").classList.add('mdc-floating-label--float-above');
            	
            }



			function formatItem(row) {
				return row[0] + " (" + row[1] + " " + row[2] + ")";
			}
			function selectItem(res, callbackFunc){
				findValue(res, callbackFunc);
			}
		    function findValue(res, callbackFunc) {
				if (res == null) return alert("No match!");
				var place_dict = {
								place 		: 	`${res.selectValue} (${res.extra[0]} ${res.extra[1]})`,
								latdeg 		: 	res.extra[2],
								latmin 		: 	res.extra[3],
								latns 		: 	res.extra[4],
								longdeg 	:  	res.extra[5],
								longmin 	:  	res.extra[6],
								longew 		: 	res.extra[7],
								timezone 	: 	res.extra[8],
								timezoneid 	: 	res.extra[9],

				}
				if (callbackFunc != undefined){
					callbackFunc(place_dict);
				}
				
		    }


			function loadJS(src) {
				var jsElm = document.createElement("script");
				jsElm.type = "application/javascript";
				jsElm.src = src;
				document.body.appendChild(jsElm);
			}


			return {
						mdctextFieldArr : mdctextFieldArr,
						upgrade_notch : upgrade_notch,
						show_date_dialoge : show_date_dialoge,
						show_time_dialoge : show_time_dialoge,
						loadJS : loadJS,
						Dialog : Dialog,
						show_error : show_error,
					}

		})(BASE_JS)
	</script>
	
	{% block base_js %}
	
	{% endblock %}


</body>
</html>