{% extends layout_1 %}
{% load static %}
{% load dh_static %}

{% block this_base_head %}
{% endblock %}	
	
{% block this_base_css %}
<style type="text/css">
	.mdl-switch.is-checked > .mdl-switch__thumb{
		background: rgb(63 187 11) !important;
	}
	.mdl-switch.is-checked > .mdl-switch__track{
		background: rgb(63 187 11 / 50%) !important;
	}
</style>

{% endblock %}	

{% block this_base_body %}
	{% if error %}
		<div style="margin-top: 15px; width: 100%">
			<img src="{% dh_static 'dreamhome' 'something-went-wrong.gif' %}" alt="Something went wrong" width="300px" height="300px">

			<div style="margin-top: 10px">
				<strong style="color: grey; font-size: 20px;">{{error_details.description}}</strong>
			</div>
		</div>
	{% else %}
		<div class="appliances" style="margin:0em;border: ridge; min-width: 25em;">
			<ul class="mdl-list" style="margin-top: 0; margin-bottom: 0; padding-top: 0;">
				{% for appliance in appliances %}	
				  <li class="mdl-list__item mdl-list__item--three-line mdl-list-{{appliance.id}}" style="padding-top: 0; padding-bottom: 0; height: 142px;">
				    <span class="mdl-list__item-primary-content" style="height: 100px;">
				      <i class="material-icons mdl-list__item-avatar">miscellaneous_services</i>
				      <span id="name-{{appliance.id}}">{{appliance.name}}</span>
						<button id="details_{{appliance.id}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="width: 24px; height: 24px; min-width: 24px;" onclick="js:view_details(this.id)">
						  <i class="fa fa-eye" style="font-size: 20px; position: absolute; top: 3px; left: 2px;"></i>
						</button>
				      <span class="mdl-list__item-text-body">
				    	<span>Category : {{appliance.category}}</span>
				    	<div>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-radio-{{appliance.id}}" for="auto_{{appliance.id}}">
							  	<input type="radio" id="auto_{{appliance.id}}" class="mdl-radio__button auto radio-{{appliance.id}} auto-manual" name="auto-manual-{{appliance.id}}" value="0" {% if not appliance.manual %} checked {% endif %} {% if not appliance.is_active %} disabled {% endif %}>
							  	<span class="mdl-radio__label">Auto</span>
							</label>    

							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-radio-{{appliance.id}}" for="manual_{{appliance.id}}">
								<input type="radio" id="manual_{{appliance.id}}" class="mdl-radio__button manual radio-{{appliance.id}} auto-manual" name="auto-manual-{{appliance.id}}" value="1" {% if appliance.manual %} checked {% endif %}{% if not appliance.is_active %} disabled {% endif%}>
							  	<span class="mdl-radio__label">Manual</span>
							</label>		
				    	</div>
				    	{% if appliance.operator_category %}
				    	<div style="text-align: right;margin-top: 1.3em;">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="operator_{{appliance.id}}_{{appliance.operator_id}}" onclick="js:open_operator($(this).attr('id'))">
							  View {{appliance.operator_category}}
							  <i class="fa fa-eye" onclick="" style="padding-left: 1em;"></i> 
							</button>   		
				    	</div>
				    	{% else %}
				    	<div style="text-align: right;margin-top: 1.3em;">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="operator_{{appliance.id}}" onclick="js:add_operator($(this).attr('id'))">
							  Add Operator
							  <i class="fa fa-plus-circle" style="padding-left: 1em; font-size: 1.5em;"></i> 
							</button>   		
				    	</div>

				    	{% endif %}
				      </span>
				    </span>
				    <span class="mdl-list__item-secondary-content" style="height: 100px;">
						
				    	<span style="min-width: 5.289375em;">
							<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-checkbox-{{appliance.id}}" for="active_{{appliance.id}}" style="margin-bottom: .3em;">
								<span class="mdl-checkbox__label">{% if appliance.is_active %}Active{% else %}Inactive{% endif %}</span>
							  	<input type="checkbox" id="active_{{appliance.id}}" class="mdl-checkbox__input active" {% if appliance.is_active %} checked {% endif %}>
							</label>  
				    	</span>
  
				    	<span style="min-width: 5.289375em;">
							<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-switch-{{appliance.id}}" for="status_{{appliance.id}}" style="margin-top: .3em;"> 
								<input type="checkbox" id="status_{{appliance.id}}" class="mdl-switch__input status" {% if appliance.status %} checked {% endif %}{% if not appliance.is_active %} disabled {% elif not appliance.manual %} disabled {% endif %}>
								<span class="mdl-switch__label" style="padding-left: 1.3em; position: absolute !important;">{% if appliance.status %}On{% else %}Off{% endif %}</span>
							</label>				    		
				    	</span>
				    	<span style="min-width: 5.289375em; text-align: right; padding-top: 2em;">
				    		<i class="material-icons" style="font-size: 2.1em" id="delete_{{appliance.id}}" onclick="js:delete_appliance(this.id);">delete_forever</i>
				    	</span>
				    </span>
				  </li>
				{% endfor %}
			</ul>
		</div>

	{% endif %}



{% include 'appliances/new-appliance.html' %}
{% endblock %}	

{% block footer %}

{% endblock %}

{% block this_base_js %}

<script type="text/javascript">





	function delete_appliance(id){
		var aid  =	id.split("_")[1];
		var appliance_name = $(`#name-${aid}`).text();
		var dialog = new BASE_TEMPLATE_JS.Dialog({title : 'Appliance Deletion'})
		dialog.submit = {
						text 	: 	"Confirm Delete?", 
						action : function(){
							var hid  = 	BASE_JS.getUrlParameter('hid');
							var rid  = 	BASE_JS.getUrlParameter('rid');
							var smart_ajax = new BASE_JS.SmartAjax({
								url : location.href,
								json_data : {
									delete 	: 	true,
									aid 	: 	aid,
									hid 	: 	hid,
									rid 	: 	rid
								},
								success_callback : function(response){
									if(response.success=true){
										BASE_JS.showToast(0, `${appliance_name} DELETED.`);
										$(`.mdl-list-${aid}`).remove();	
										dialog.close;
										location.reload();
									}else if(response.error==true){
										BASE_TEMPLATE_JS.show_error(response);
									}
								},
								error_callback : function(response){
									BASE_TEMPLATE_JS.show_error(response);
								}
							})		
							smart_ajax.get_update();								
						},
						accent : true,

		}
		dialog.show = {content : `Do you want to delete this appliance(${appliance_name})?`,}

	}


	function view_details(id){
		var aid  =	id.split("_")[1];
		var appliance_name = $(`#name-${aid}`).text();
		var hid  = 	BASE_JS.getUrlParameter('hid');
		var rid  = 	BASE_JS.getUrlParameter('rid');
		let port =	null;
		let power_rating = null;
		let voltage_rating = null;

		function update_appilance(){
			var hid  = 	BASE_JS.getUrlParameter('hid');
			var rid  = 	BASE_JS.getUrlParameter('rid');
			var smart_ajax = new BASE_JS.SmartAjax({
				url 		: `{{appliance_details_url}}`,
				searchParams : {
					hid : hid,
					rid : rid,
				},				
				json_data 	: {
								aid 		: 	aid,
								port  		: 	port, 
								power_rating: 	power_rating, 
								voltage_rating 	: 	voltage_rating, 
							},
				success_callback : function(response){
					if (response.success==true){
						BASE_JS.showToast(0, `Specifications for ${appliance_name}, updated`);
					}else if(response.error==true){
						BASE_TEMPLATE_JS.show_error(response);
					}
				},
				error_callback : function(response){
					BASE_TEMPLATE_JS.show_error(response);			
				}
			});
			smart_ajax.get_update();

		}


		var smart_ajax = new BASE_JS.SmartAjax({
			url : `{{appliance_details_url}}`,
			protocol : 'GET',
			searchParams : {
				hid : hid,
				rid : rid,
				aid : aid,
			},				
			dataType : 'html',
			success_callback : function(response){
				if(response.success=true){
					var dialog = new BASE_TEMPLATE_JS.Dialog({title : 'Appliance Details'});
					dialog.submit = {
										text   : 	"Update Changes", 
										enable : false,
										action : function(){
											update_appilance();
										},
									}
					dialog.show =  {
										html 		: 	response,
										onload 	 	: 	function(){
											var prev_port =  $(".port").val() || null;
											var prev_power_rating 	=  $(".power_rating").val() || null;
											var prev_voltage_rating =  $(".voltage_rating").val() || null;
											
											function check_submissions(){
												port 			=  $(".port").val() || null;
												power_rating 	=  $(".power_rating").val() || null;
												voltage_rating 	=  $(".voltage_rating").val() || null;

										        if (BASE_JS.is_valid_value(voltage_rating)==true || voltage_rating!=""){
										          if (voltage_rating>parseFloat("{{relay_voltage_rating}}")){
										            BASE_JS.showToast(0, "Appliance voltage rating can't exceed beyond {{relay_voltage_rating}} Volt");
										            return;
										          }
										        }        

										        if (BASE_JS.is_valid_value(power_rating)==true || power_rating!=""){
										          if (power_rating>parseFloat("{{relay_power_rating}}")){
										            BASE_JS.showToast(0, "Appliance power rating can't exceed beyond {{relay_power_rating}} Watt");
										            return;
										          }
										        }

												if (prev_port!=port || prev_power_rating!=power_rating || prev_voltage_rating!=voltage_rating){
													dialog.enable;
												}else{
													dialog.disable;
												}									
											}

											$(".specifications").on("keyup", function(){
												check_submissions();
											});
										componentHandler.upgradeAllRegistered();

										}
					};				
					
				}else if(response.error==true){
					BASE_TEMPLATE_JS.show_error(response);
				}
			},
			error_callback : function(response){
				BASE_TEMPLATE_JS.show_error(response);
			}
		})		
		smart_ajax.get_update();
		
	}

	function open_operator(id){
		var aid = 	id.split("_")[1];
		var oid = 	id.split("_")[2];
		var hid = 	BASE_JS.getUrlParameter('hid');
		var rid = 	BASE_JS.getUrlParameter('rid');
		window.location = `{{operator_url}}?hid=${hid}&rid=${rid}&aid=${aid}&oid=${oid}`;
	}	
	
  document.addEventListener("DOMContentLoaded", function(event) { 

	let fab_obj = new THIS_BASE_TEMPLATE_JS.FabBtn({text : "New appliance", callback : function(e){
					newapplianceDialog.showModal();
				}
	}).show();  

	$('.auto-manual').on("click", function(){
		var el = this;
		var aid = $(this).attr("id").split("_")[1];
		var appliance_name = $(`#name-${aid}`).text();
		var manual = $(el).val() == 1 ? true : false;
		var smart_ajax = new BASE_JS.SmartAjax({
			url : location.href,
			json_data : {
				aid : aid, 
				manual : manual
			},
			success_callback : function(response){
				if (response.success==true){
					BASE_JS.showToast(0, `${manual_func(aid, manual)} mode is on for ${appliance_name}`);
				}else if(response.error==true){
					BASE_TEMPLATE_JS.show_error(response);
					$(el).prop("checked", !manual);
					if (manual==false){
						$(`#auto_${aid}`).parent().removeClass('is-checked');
						$(`#manual_${aid}`).parent().addClass('is-checked');
					}else{
						$(`#auto_${aid}`).parent().addClass('is-checked');
						$(`#manual_${aid}`).parent().removeClass('is-checked');

					}
				}
			},
			error_callback : function(response){
				BASE_TEMPLATE_JS.show_error(response);
				$(el).prop("checked", !manual);
				if (manual==false){
					$(`#auto_${aid}`).parent().removeClass('is-checked');
					$(`#manual_${aid}`).parent().addClass('is-checked');
				}else{
					$(`#auto_${aid}`).parent().addClass('is-checked');
					$(`#manual_${aid}`).parent().removeClass('is-checked');

				}
				
			}
		});
		smart_ajax.get_update();
	});

	function manual_func(aid, manual){
		var manual_txt = null;
		if (manual==true){
			manual_txt = "MANUAL";
			$(`#status_${aid}`).removeAttr("disabled");
			$(`.mdl-switch-${aid}`).removeClass('is-disabled');			
		}else{
			manual_txt = "AUTO";
			$(`#status_${aid}`).attr("disabled", true);
			$(`.mdl-switch-${aid}`).addClass('is-disabled');			
		}
		return manual_txt;
	}

	$(".active").on("click", function(){
		var el = this;
		var aid = $(this).attr("id").split("_")[1];
		var appliance_name = $(`#name-${aid}`).text();
		var is_active = $(el).is(":checked");
		var smart_ajax = new BASE_JS.SmartAjax({
			url : location.href,
			json_data : {
				aid : aid, 
				is_active : is_active
			},
			success_callback : function(response){
				if (response.success==true){
					BASE_JS.showToast(0,`${appliance_name} is ${active_inactive(aid, is_active)}`);
				}else if(response.error==true){
					if (BASE_JS.is_valid_value(response.error_details)==true){
						BASE_JS.showToast(0, response.error_details.description);
					}
					$(el).prop("checked", !is_active);
					if (is_active==false){
						$(`.mdl-checkbox-${aid}`).addClass('is-checked');
					}else{
						$(`.mdl-checkbox-${aid}`).removeClass('is-checked');
					}

				}
			},
			error_callback : function(response){
				BASE_TEMPLATE_JS.show_error(response);
				$(el).prop("checked", !is_active);
				if (is_active==false){
					$(`.mdl-checkbox-${aid}`).addClass('is-checked');
				}else{
					$(`.mdl-checkbox-${aid}`).removeClass('is-checked');
				}
			}
		});
		smart_ajax.get_update();
	});

	function active_inactive(aid, is_active){
		var active_txt = null;
		if (is_active==true){
			active_txt = "ACTIVE";
			$(`.radio-${aid}`).each(function(i, el){
				if ($(el).is(":checked")==true){
					manual_func(aid, $(el).val() == 1 ? true : false);
				}
				$(el).removeAttr("disabled");
			});
			$(`.mdl-radio-${aid}`).removeClass('is-disabled');



		}else{
			active_txt = "INACTIVE";
			$(`.radio-${aid}`).each(function(i, el){
				manual_func(aid, 0);
				$(el).attr("disabled", true);
			});
			$(`.mdl-radio-${aid}`).addClass('is-disabled');
		}

		$(`#active_${aid}`).siblings().each(function(i, sl){
			if ($(sl).hasClass('mdl-checkbox__label')==true){
				$(sl).text(active_txt);
			}
		});

		return active_txt;
	}

	$(".status").on("click", function(){
		var el = this;
		var aid = $(this).attr("id").split("_")[1];
		var appliance_name = $(`#name-${aid}`).text();
		var status = $(el).is(":checked");
		var smart_ajax = new BASE_JS.SmartAjax({
			url : location.href,
			json_data : {
				aid : aid, 
				status : status
			},
			success_callback : function(response){
				if (response.success==true){
					BASE_JS.showToast(0, `${appliance_name} is ${status_func(aid, status)}`);
				}else if(response.error==true){
					if (BASE_JS.is_valid_value(response.error_details)==true){
						BASE_JS.showToast(0, response.error_details.description);
					}
				
					$(el).prop("checked", !status);
					if (status==false){
						$(`.mdl-switch-${aid}`).addClass('is-checked');
					}else{
						$(`.mdl-switch-${aid}`).removeClass('is-checked');
					}

				}
			},
			error_callback : function(response){
				BASE_TEMPLATE_JS.show_error(response);
				$(el).prop("checked", !status);
				if (status==false){
					$(`.mdl-switch-${aid}`).addClass('is-checked');
				}else{
					$(`.mdl-switch-${aid}`).removeClass('is-checked');
				}

			}
		});
		smart_ajax.get_update();
	});

	function status_func(aid, status){
		var status_txt = null;
		if (status==true){
			status_txt = "ON";
			$(`#status_${aid}`).prop("checked", true);
			$(`.mdl-switch-${aid}`).addClass('is-checked');
		}else{
			status_txt = "OFF";
			$(`#status_${aid}`).prop("checked", false);
			$(`.mdl-switch-${aid}`).removeClass('is-checked');
		}

		$(`#status_${aid}`).siblings().each(function(i, sl){
			if ($(sl).hasClass('mdl-switch__label')==true){
				$(sl).text(status_txt);
			}
		});


		return status_txt;
	}
	
  });



</script>
{% endblock %}