{% csrf_token %}
{% load static %}
{% load dh_static %}
<style type="text/css">
  
    .new-home-form {
      white-space: nowrap;
      position: relative;
      text-shadow: 0 1px 3px rgba(0,0,0,0.12);
      text-align: left !important;
    }

    .new-home-title {
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 18px;

    }  

</style>


<dialog class="mdl-dialog dialog" id="new-home-dialoge">
  <header class="mdl-layout__header">
    <div id="new-home-close" class="close dialog-close">×</div>
    <div class="dialog-header">
      <div class="new-order-form">
        <div class="new-order-title">New Home Form</div> 
      </div>
    </div>
    
  </header>

  <div class="mdl-dialog__content dialog__content dialog-content" style="min-height: 23em;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-fields">
      <input class="mdl-textfield__input" type="text" id="home_name" autocomplete="off" tabindex="0" autocapitalize="off" autocorrect="off" spellcheck="false">
      <i class="material-icons">home</i>
      <label class="mdl-textfield__label" for="home_name">Home Name</label>
      <div class="help" style="display: none;">Please enter a home name</div>
    </div>

    <Portal>
      <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar" id="snackbar2" style="">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
      </div>
    </Portal>

    <div id="loader2" style="display: none; z-index: 1050;  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
      <div class = "mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>
</div>


<div id="progress-bar" class="mdl-progress mdl-js-progress" style="display: none; width: 344px;bottom: -17em;transform: translateY(100%);"></div>
<footer class="mdl-mega-footer footer">
  <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="width: 100%;height: 55px;" id="create-home">Create Home</button>
</footer>
</dialog>
 
<script type="text/javascript">
  let newHomeDialog = null;
  document.addEventListener("DOMContentLoaded", function(event) { 

      // document.querySelectorAll('.mdc-text-field').forEach(function(el){
      //   BASE_TEMPLATE_JS.textFieldArr.push(new mdc.textField.MDCTextField(el));
      // }); 

    newHomeDialog = document.querySelector('#new-home-dialoge');
    if (! newHomeDialog.showModal) {
      dialogPolyfill.registerDialog(newHomeDialog);
    }
    newHomeDialog.querySelector('#new-home-close').addEventListener('click', function() {
      newHomeDialog.close();
    });  

    document.querySelector('#create-home').addEventListener('click', function() {
      var smart_ajax = new BASE_JS.SmartAjax({
          url : location.href,
          json_data : {
                        name : document.querySelector('#home_name').value,
                      },
          success_callback : function(response){
            if (response.success==true){
              newHomeDialog.close();
              location.reload();
            }else if (response.error==true){
              BASE_TEMPLATE_JS.show_error(response);
            }

          },
          error_callback : function(response){
            BASE_TEMPLATE_JS.show_error(response);
          },          
      });
      smart_ajax.get_update();
    });
  });
</script>
