{% extends layout_1 %}
{% load static %}
{% load dh_static %}

{% block this_base_head %}
	
{% endblock %}	
	
{% block this_base_css %}
	
{% endblock %}	

{% block this_base_body %}
{% csrf_token %}
{% include 'auth_app/login-modal.html' %}

{% endblock %}	

{% block footer %}

{% endblock %}

{% block this_base_js %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {  
    document.querySelector('.login-close').style.display = 'none';
    
  });

</script>
{% endblock %}