{% extends layout_1 %}
{% load static %}
{% load dh_static %}

{% block this_base_head %}

{% endblock %}	
	
{% block this_base_css %}
  <style type="text/css">

	.icon-item-container.active[_ngcontent-gwu-c22] {
		border: 2px solid #4a9c0c;
		border-radius: 2px;
	}
	.icon-item-container.inactive[_ngcontent-gwu-c22] {
		border: 2px solid #d40c0c;
		border-radius: 2px;
	}


	.icon-item-container[_ngcontent-gwu-c22] {
		height: 120px;
		width: 112px;
		padding: 8px;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		user-select: none;
	}

	.icon-item-inner-container[_ngcontent-gwu-c22] {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.icon-image-preview {
		display: inline-block;
		font-size: 48px;
		width: 48px;
		overflow: hidden;
	}

	.icon-item-title[_ngcontent-gwu-c22] {
		display: block;
		max-width: 112px;
		padding: 0 7px;
		font-size: 12px;
		color: rgba(0,0,0,.6);
		white-space: nowrap;
	}

  </style>	
{% endblock %}	

{% block this_base_body %}
	
	{% if error %}
		<div style="margin-top: 15px; width: 100%">
		
			<img src="{% dh_static 'dreamhome' 'something-went-wrong.gif' %}" alt="Something went wrong" width="300px" height="300px">

			<div style="margin-top: 10px">
				<strong style="color: grey; font-size: 20px;">{{error_details.description}}</strong>
			</div>
		</div>
	{% else %}
		<div id="homes">
			{% for home in homes %}		
			<div _ngcontent-gwu-c22="" class="icon-item-container {% if home.is_active %}active{% else %}inactive{% endif %} home" title="home" style="margin:1em;" id="home_{{home.id}}">
				<div _ngcontent-gwu-c22="" class="icon-item-inner-container">
					<icons-image _ngcontent-gwu-c22="" _nghost-gwu-c19="">
						<span _ngcontent-gwu-c19="" class="material-icons icon-image-preview">home</span>
					</icons-image>
					<span _ngcontent-gwu-c22="" class="icon-item-title">{{home.name}}</span>
				</div>
			</div>
			{% endfor %}
		</div>
	{% endif %}


	{% include 'appliances/new-home.html' %}	
{% endblock %}	

{% block footer %}

{% endblock %}

{% block this_base_js %}


<script type="text/javascript">
	
	document.addEventListener("DOMContentLoaded", function(event) {  
	
		let fab_obj = new THIS_BASE_TEMPLATE_JS.FabBtn({text : "New Home", callback : function(e){
						newHomeDialog.showModal();
					}
		}).show();  	


		$(".home").on('click', function(){
			location.href = `{{room_url}}?hid=${$(this).attr('id').split('home_')[1]}`;
		});

	});


</script>
{% endblock %}