{% extends layout_1 %}
{% load static %}
{% load dh_static %}

{% block this_base_head %}
	{% if operator.category == 'Water Tank' %}

		<link rel="stylesheet" type="text/css" href="{% dh_static 'dreamhome' 'jquery-ui.css' %}">
		<script type="text/javascript" src="{% dh_static 'dreamhome' 'd3.js' %}"></script>
		<script type="text/javascript" src="{% dh_static 'dreamhome' 'jquery-ui.js' %}"></script>
		<script type="text/javascript" src="{% dh_static 'appliances' 'analogTank.js' %}"></script>
	{% endif  %}	

{% endblock %}	
	
{% block this_base_css %}
	{% if operator.category == 'Water Tank' %}
	<style type="text/css">
		.tank-div {
			background-color: #2d4e5a;
			height: 200px;
			width: 200px;
			position: relative;
		}	
	</style>
	{% endif %}	
{% endblock %}	

{% block this_base_body %}

	{% if operator.category == 'Water Tank' %}
	<!-- <div id="empty-space"></div> -->
	<div class="left-slider" style="vertical-align: middle; transform: rotate(-90deg);position: absolute; display: none;">
		<input id="max-level" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" step="1" value="0" tabindex="0">
	</div>

	<div id="tank-div" class="tank-div">
	</div>

	<div class="right-slider" style="vertical-align: middle; transform: rotate(-90deg);position: absolute; display: none;">
		<input id="min-level" class="mdl-slider mdl-js-slider" type="range" min="0" max="100" step="1" value="0" tabindex="1">
	</div>


	<div class="update" style="position: absolute; display: none;">
		<button id="update-btn" type="button" class="mdc-button mdc-button--raised" disabled><strong>Update changes</strong></button>
	</div>
	
	{% endif %}
	
{% endblock %}	

{% block this_base_js %}
	{% if operator.category == 'Water Tank' %}
		<script type="text/javascript">
			let tank 				= 	null;
			let operator 			= 	new Object;
			let tank_height    		=	null;
			let base_area 			=	null;
			let water_level    		=	null;
			let water_max_level 	=	null;
			let water_min_level 	=	null; 
			let tank_capacity 		=	null; 
			let water_volume 		=	null; 
			let water_max_volume 	=	null; 
			let water_min_volume	=	null; 
			let thresholds 			= 	null;
			let options 			= 	null;

			function calc_volume(water_lvl){
				var water_vol = water_lvl*base_area;
				return BASE_JS.decimal_format(BASE_JS.scale(water_vol, 0, tank_height*base_area, 0, 500), 1);
			}

			function create_tank_options(operator){
				tank_height = parseFloat(operator['dimensions_data']['height']);
				console.log("tank_height: ",tank_height);
				base_area =	7*Math.pow(parseFloat(operator['dimensions_data']['circumstances']), 2)/(4*22);
				water_level = parseFloat(BASE_JS.scale(parseFloat(operator['sensor_val']), 0, 1023, 0, tank_height));
				water_max_level = BASE_JS.decimal_format(BASE_JS.scale(parseFloat(operator['sensor_max_val']), 0, 1023, 0, tank_height), 1);
				water_min_level = BASE_JS.decimal_format(BASE_JS.scale(parseFloat(operator['sensor_min_val']), 0, 1023, 0, tank_height), 1);
				tank_capacity = `${parseFloat(operator['dimensions_data']['capacity'])} ltr`;
				water_volume = calc_volume(water_level);
				water_max_volume = calc_volume(water_max_level);
				water_min_volume = calc_volume(water_min_level);

				$("#max-level").prop("max", tank_height);
				$("#max-level").prop("step", tank_height/500);
				$("#min-level").prop("max", tank_height);
				$("#min-level").prop("step", tank_height/500);
				$("#max-level").val(water_max_level);
				$("#min-level").val(water_min_level);
				thresholds = [
				  {
				    status: 'OFF',
				    value : water_max_level,
				    volume: `${water_max_volume} ltr`,
				    level: 'High',
				    alarm: true
				  },
				  // {
				  //   name: 'Pump On',
				  //   value: 1,
				  //   type: 'High',
				  //   alarm: false
				  // },
				  // {
				  //   name: 'Pump On',
				  //   value: 0.5,
				  //   type: 'Low',
				  //   alarm: false
				  // },
				  {
				    status: 'ON',
				    value : water_min_level,
				    volume: `${water_min_volume} ltr`, 
				    level: 'Low',
				    alarm: true
				  }
				];

				var options = {
				  tankType: 'tower',
				  supportLabelText : tank_capacity,
				  fillMaxValue : BASE_JS.decimal_format(tank_height, 1),
				  fillValue: water_level,
				  fillUnit: "ft",
				  supportLabelPadding: 5,
				  frontFontColor: "#003B42",
				  thresholds: thresholds,
				  lookupTableValue: water_volume,
				  lookupTableValueUnit: 'ltr',
				  lookupTableValueDecimal: 1,
				  changeRateValueDecimal: 1,
				  changeRateValueArrowEnabled: true,
				  changeRateValue: 1,
				  changeRateValueUnit: 'ltr/min'
				}
				return options
			}

			document.addEventListener("DOMContentLoaded", function(event) { 

				{% for key, val in operator.items %}
					var val = '{{val|safe|escapejs}}';
					{% if key == 'dimensions_data' %}
						val = new Object();
						{% for k, v in val.items %}
							val['{{k|safe|escapejs}}'] = '{{v|safe|escapejs}}';
						{% endfor %}
					{% endif %}
					operator['{{key|safe|escapejs}}'] = val;
				{% endfor %}

				options = create_tank_options(operator);


				tank = $('.tank-div').analogTank(options);

				$(".tank-div").resizable({
				  stop: function( event, ui ) {
				    tank.redraw();
				  }
				});

				tank.setDecimal(1);

				if (BASE_JS.isMobile.any()==null){
					enlarge()
				}else{
					shrink();
				}
				
				// tank.updateHeight(water_level);
				// tank.updateArrow({ destroy: true });
				// tank.updateArrow({ enable: true });

				// tank.updateArrow({ direction: "none" });
				// tank.updateArrow({ backArrowColor: "#3FABD4" }); 
				$("#max-level").on("change", function(e){
					var water_max_level1 = BASE_JS.decimal_format($(this).val(), 1);
					var water_min_level1 = thresholds[1]['value'];
					if (water_max_level1<=water_min_level1){
						e.preventDefault();
						$(this).val(water_min_level1 + 0.1);
						BASE_JS.showToast(0, "HIGH level cant't be lower than LOW level");
						return;
					}
					thresholds[0]['value'] =	water_max_level1;
					thresholds[0]['volume'] = `${calc_volume($(this).val())} ltr`;
					tank.thresholds = thresholds;
					$("#marker-bar-group").empty();
					tank.addThresholdMarkers();				
					if (water_max_level1 != water_max_level || water_min_level1 != water_min_level){
						$("#update-btn").prop("disabled", false);
					}else{
						$("#update-btn").prop("disabled", true);
					}

				});

				$("#min-level").on("change", function(e){
					var water_max_level1 = thresholds[0]['value'];
					var water_min_level1 = BASE_JS.decimal_format($(this).val(), 1);
					if (water_max_level1<=water_min_level1){
						e.preventDefault();
						$(this).val(water_max_level1 - 0.1);
						BASE_JS.showToast(0, "LOW level cant't be heigher than HIGH level");
						return;
					}
					thresholds[1]['value'] =	water_min_level1;
					thresholds[1]['volume'] = `${calc_volume($(this).val())} ltr`;
					tank.thresholds = thresholds;
					$("#marker-bar-group").empty();
					tank.addThresholdMarkers();

					if (water_max_level1 != water_max_level || water_min_level1 != water_min_level){
						$("#update-btn").prop("disabled", false);
					}else{
						$("#update-btn").prop("disabled", true);
					}

				});

				$("#update-btn").on("click", function(){
					var water_max_level1 = thresholds[0]['value'];
					var water_min_level1 = thresholds[1]['value'];
					if (water_max_level1 == water_max_level && water_min_level1 == water_min_level){
						BASE_JS.showToast(0, "No changes have been made to update.");
						return;
					}

					var smart_ajax = new BASE_JS.SmartAjax({
						url : location.href,
						json_data : {
							sensor_max_val : parseFloat(BASE_JS.scale(water_max_level1, 0, tank_height, 0, 1023)),
							sensor_min_val : parseFloat(BASE_JS.scale(water_min_level1, 0, tank_height, 0, 1023)),
						},
						success_callback : function(response){
							if (response.success==true){
								water_max_level = water_max_level1;
								water_min_level = water_min_level1;
								$("#update-btn").prop("disabled", true);
								BASE_JS.showToast(0, "Water Ref Levels updated.");

							}else{
								BASE_JS.showToast(0, response.error_details.description);
							}
						},
						error_callback : function(response){
							BASE_JS.showToast(0, response.error_details.description);
						}
					});
					smart_ajax.get_update();
				});

				// tank.updateArrow({ direction: "up" });
				// tank.updateArrow({ backArrowColor: "#1976D2" }); 


				// tank.updateArrow({ direction: "down" });
				// tank.updateArrow({ backArrowColor: "#C62828" });

				// tank.destroy();

				var hid  = 	BASE_JS.getUrlParameter('hid');
				var rid  = 	BASE_JS.getUrlParameter('rid');
				var aid  = 	BASE_JS.getUrlParameter('aid');
				var oid  = 	BASE_JS.getUrlParameter('oid');
				var smart_ajax = new BASE_JS.SmartAjax({
								url : `{{get_operator_live_url}}`,
								protocol : 'GET',
								app : 'device',
								searchParams : {
									hid : hid,
									rid : rid,
									aid : aid,
									oid : oid,
								},	
								once : false,
								success_callback : function(response){
									console.log(response, "response");
									if(BASE_JS.is_valid_value(response)==true && response.success==true){
										// options = create_tank_options(response.operator);
										// console.log(options);
										var operator = response.operator;
										if(BASE_JS.is_valid_value(operator)){
											var sensor_value = operator.sensor_val;
											if(BASE_JS.is_valid_value(sensor_value)){
												var water_level = BASE_JS.decimal_format(BASE_JS.scale(parseFloat(sensor_value), 0, 1023, 0, tank_height), 1)
												tank.updateHeight(water_level);
											}
										}
										
										// tank.destroy()
										// tank.fillValue=1
										// tank.init()
									}else if(BASE_JS.is_valid_value(response)==true && response.error==true){
										BASE_TEMPLATE_JS.show_error(response);
									}
								},
								error_callback : function(response){
									console.log(response, "response1");
									BASE_TEMPLATE_JS.show_error(response);
								}
							})		
				smart_ajax.get_update();



			});
			let randomColor = ["#C62828", "#BA68C8", "#1976D2", "#FFB74D", "#607D8B"];
			function getRandomColor() {
			  return randomColor[Math.floor(Math.random() * 5)];
			}

			function getRandom() {
			  return Math.floor(Math.random() * 100);
			}


			function shrink() {
				document.getElementsByClassName('tank-div')[0].setAttribute("style", "width:200px;height:200px;");
				tank.redraw();
				$(".left-slider").css({"display" : "block", "left": "-5em", "width": "17.7em"});
				$(".right-slider").css({"display" : "block", "right": "-5em", "width": "17.7em"});
				$(".update").css({"display": "block", "top" : "26em"});
			}
			function enlarge() {
				document.getElementsByClassName('tank-div')[0].setAttribute("style", "width:400px;height:400px;");
				tank.redraw();
				$(".left-slider").css({"display" : "block", "left": "12em", "width": "31.7em"});
				$(".right-slider").css({"display" : "block", "right": "12em", "width": "31.7em"});
				$(".update").css({"display": "block", "top" : "34em"});
			}


			function tower() {
			  tank.tankType = 'tower';
			  delete tank.topMarkerFontColor;
			  delete tank.bottomMarkerFontColor;
			  tank.redraw();
			}
			function round() {
			  tank.tankType = 'round';
			  tank.topMarkerFontColor = "#fafafa";
			  tank.bottomMarkerFontColor = "#fafafa";
			  tank.redraw();
			}
		</script>
	{% endif %}
{% endblock %}
