/*@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@include icon-button.core-styles;*/


.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .dot {
  height: 5px;
  width: 5px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}